@charset "UTF-8";

body { font-family: 'Pretendard', "맑은 고딕", sans-serif; }
.inner { width: 1450px; margin: auto; padding: 0 4vw; }

/* header */
.top_menu_box { height: 66px; }
header { height: 80px; }

.top_menu_box .inner, header .inner {
  height: 100%; /* ❗ */
display: flex; justify-content: space-between; align-items: center;
}
.top_menu_box .inner { align-items: flex-end; }

.top_menu { }
.top_menu ul { }
.top_menu li { display: inline-block; font-style: 14px; color: #111; margin-left: 24px; }
.top_menu a { }

nav { }
nav > ul { } /* 나중에 서브페이지를 만들 수 있으니 > 꼭 표기 */
nav > ul > li { display: inline-block; margin-right: 37px; }
nav > ul > li > a { font-size: 14px; font-weight: 700;
  display: block; line-height: 75px;
}
nav > ul > li:nth-child(n+7) > a { font-weight: 300; }
nav > ul > li > a:after { display: block; content: ""; width: 0px; height: 2px; background: #111; transition: 0.3s; } /* block 때문에 아랫부분에 선 위치 */
nav > ul > li > a:hover:after { width: 100%; }


.search_in { 
  background: #f4f4f4;
  width: 317px; height: 35px; padding: 0 15px;
  display: flex; justify-content: space-between; align-items: center;
}
.search input { width: 250px; font-style: 16px; background: transparent; border: 0; outline: none; }
.search img { width: 17px; height: 17px; }


/* visual */
#visual { height: calc(100vh - 146px); min-width: 1450px; }
#visual img { width: 100%; height: 100%; object-fit: cover; }


/* section */
section { margin: 120px auto 0; }
.tit_box { text-align: center; margin-bottom: 45px; }
.tit_box .tit { }
.tit_box span { font-size: 22px; display: block; padding-bottom: 12px; color: #202020; letter-spacing: -0.7px; }
.tit_box strong { 
  font-size: 36px; 
  color: #111; 
  letter-spacing: -0.7px;
}

.tit_btns button {
  padding: 11px 16px;
  background: #fff; border: 1px solid #8c8c8c; border-radius: 100px;
  margin: 0 4px; color: #111; letter-spacing: -0.7px; font-size: 17px; line-height: 1.5;
}
.tit_btns button.active,
.tit_btns button:hover  {
  background: #000; color: #fff; cursor: pointer;
}

.best_item .cont { }
.cont ul { 
  display: flex; gap: 30px;
}
.cont li { width: 25%; }

.cont img { width: 100%; }
.cont strong {
  display: block; font-weight: 400;  padding: 20px 0; color: #111;
  width: 300px;
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
}
.cont span { font-size: 17px; font-weight: 500; }


.summer .tit { margin-bottom: 30px; }
.summer .cont { display: flex; gap: 20px; }
.summer figure { width: 590px; }
.summer ul { 
  flex: 1; align-items: flex-start; 
  display: grid; gap: 20px;
  grid-template-columns: repeat(3, 1fr)
}

.summer li { width: 100%;  }
.summer li img { width: 100%; }

.summer .cont strong {
  width: 220px; }

  /* video */
.video_container { 
  height: 750px; position: relative; /* ❗❗ iframe을 원하는 포지션에 놓기 위해 반드시 선언해주어야 한다. */
}
.video_container iframe {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

/* banner */
.banner .inner { padding: 0 0; }
.banner img { width: 100%; }
.banner .tit_box { margin-bottom: 45px; margin-top: 40px; }
.banner .tit_box span { padding-top: 25px; }

.more { 
  width: 160px; height: 52px; border: 1px solid #000;
  margin: 24px auto 0;
}
.more a { display: block; line-height: 52px; font-size: 14px; transition: 0.3s; }
.more a:after {
  display: inline-block; content: "";
  width: 0px; height: 0px;
  border-width: 4px 0 4px 7px;
  border-style: solid;
  border-color: transparent transparent transparent #000;
  margin-left: 40px;
  transition: 0.3s;
}
.more a:hover { background: #000; color: #fff; }
.more a:hover:after { border-left-color: #fff; }

/* line_banner */
.line_banner .inner { padding: 0 0; } /* 배너의 여백을 없앰 */
.line_banner img { width: 100%; }
.line_first { margin-bottom: 20px; }

/* influencer */
.influencer .cont li { width: 20%; }
.influencer .id { 
  margin: 22px 0 12px;
  font-weight: 600;
}
.influencer .sub { 
  font-size: 14px;
  color: #646464;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.prd_box { 
  margin-top: 30px; padding: 15px 0; 
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: 0.5s;
} /* 밖으로 삐져나오기 때문에 overflow: hidden; */
.prd_box figure { display: inline-block; width: 54px; }
.prd_box .prd_txt {
  display: inline-block;
  width: calc(100% - 58px); padding-left: 10px; 
  color: #222; vertical-align: top;
}
.goods_tit { font-size: 13px; }
.goods_price { font-size: 12px; font-weight: 600; margin-top: 20px; }

.influencer li:hover .prd_box {
  border-top-color: #222;
  border-bottom-color: #222;
}

/* instargram */
.instargram .cont div { display: flex; gap: 5px; }
.instargram a { flex: 1; display: block; height: 330px; border: 1px solid #ccc; }
.instargram a img { width: 100%; height: 100%; object-fit: cover; } /* object-fit으로 찌그러진 이미지를 복구하는데, cover를 하면 이미지가 짤릴 수 있다 */


/* footer */
footer { background: #222; margin-top: 200px; padding: 45px 0 65px; }
footer .inner { color: #ccc; display: flex; justify-content: space-between; }
footer .inner li { display: inline-block; margin-bottom: 45px; margin-left: 30px; }
footer .inner .left li:first-child { margin-left: 0; }
footer .inner strong { color: #fff; }

footer .inner p { 
  color: #fff;
  font-size: 14px;
}

footer .inner span { 
  display: inline-block;
}

footer .inner em {
  display: block; 
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

footer .right { }
footer .right .tit { 
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}
footer .right .tel { 
  font-size: 40px;
  font-weight: 600;
}
footer .right .info {
  margin-top: 30px;
  font-size: 14px;
}
footer .right ul {
  margin-top: 30px;
  margin-left: -30px;
}